<nav class="w-1/6 h-screen fixed bg-gray-800 xs:hidden shadow-lg sm:hidden items-center lg:block">
    <ul class="flex flex-col gap-y-3 mt-3">
        <li class=" hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="uppercase text-white" href="">Mon profil</a>
        </li>
        <li class=" hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="uppercase text-white" href="">Liste des servants</a>
        </li>
        <li class=" hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="uppercase text-white" href="">Liste des crafts essences</a>
        </li>
        <li class=" hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="uppercase text-white" href="">Ma collection de servants</a>
        </li>
        <li class="hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="text-white uppercase" href="">Ma collection de craft essences</a>
        </li>
        <li class=" hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="text-white uppercase" href="">Mon inventaire</a>
        </li>
        <li class=" hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="text-white uppercase w-full" href="">Gestionnaire</a>
        </li>
        <li class=" hover:bg-blue-400 rounded-lg text-black p-2 mx-4 flex">
            <a class="text-white uppercase" href="">Planificateur</a>
        </li>
    </ul>
</nav>

